@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .tittle {
        display: flex;
        width: 343px;
        height: 77.436px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .top {
        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__text {
            width: 343px;
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
        }
        &__button {
            display: flex;
            width: 234.063px;
            height: 48.603px;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
        }
    }

    .colortext {
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }

    .buton {
        display: flex;
        justify-content: center;
    }

    .for-box {
        height: 1221px;
        flex-shrink: 0;
    }

    .for {
        display: flex;
        flex-direction: column;
        &__item {
            width: 343px;
            height: 300px;
            flex-shrink: 0;
        }
    }

    .product-box {
        height: 653.61px;
        flex-shrink: 0;
    }

    .product {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 64px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 178px;
        }
        &__tittle {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__text {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
        }
        &__img {
            width: 344px;
            height: 236px;
            flex-shrink: 0;
        }
    }

    .sample {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 64px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 178px;
        }
        &__img {
            display: flex;
        }
    }

    .beforefooter {
        &__tittle {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__text {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
        }
        &__button {
            display: flex;
            justify-content: center;
        }
    }
}